.imagem-carrossel {
  object-fit: cover;
  object-position: 0 80%;
  height: 400px;
}

.imagem-carrossel-qs {
  object-fit: cover;
    height: 600px;
}

.imagem-posicao-card {
  object-fit: cover;
  height: 200px;
}

.nav-link:hover {
  border-bottom: 1px solid black;
}

.form-contato {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin: auto;
}

.form-contato > input , textarea {
  margin-bottom: 10px;
  width: 18rem;
}

.form-contato > input[type="number"]::-webkit-inner-spin-button {
  display: none;
}

.form-contato > #telContato {
  width: 10rem;
}

textarea {
  resize: none;
  margin-bottom: 40px;
}

button {
  margin-bottom: 40px;
}

.cards-dev {
  background-color: #222;
}

.card-footer-inner {
  display: flex;
  justify-content: space-evenly;
}

.card-footer img {
  width: 50px;
  height: 50px;
}

#quem {
  width: 50%;
}

#titulo {
  margin-top: 20px;
}

.imagens-qs{
  height: 300px; 
}

#seletorContato {
  width: 20rem;
  text-align: center;
}

@media (max-width: 800px) {
  #titulo {
    margin-top: 50px;
  }
   #paragrafoQuemSomos{
    margin-top: 100px;
}
}