.imagem-carrossel {
  object-fit: cover;
  object-position: 0 80%;
  height: 400px;
}

.imagem-posicao-card {
  object-fit: cover;
  height: 200px;
}

header .nav-link:hover {
  border-bottom: 1px solid black;
}

.form-contato {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: 80%;
  margin: auto;
}

.form-contato > input , textarea {
  margin-bottom: 10px;
  width: 50%;
}

textarea {
  resize: none;
}

-webkit-text

input[type="number"]::-webkit-inner-spin-button {
  display: none;
}

.cards-dev {
  background-color: #222;
}

.card-footer-inner {
  display: flex;
  justify-content: space-evenly;
}

.card-footer img {
  width: 50px;
  height: 50px;
}

#titulo {
  font-size: 50px;
}

#perguntas {
  font-size: 25px;
  font-style: italic;
  width: 90%;
  margin: auto;
}